{% extends "base.html" %}
{% block content %}

    <h1>Posts menu</h2><br>
    
    {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    <br><br>
    <h3>Menu:</h3>    
    <a href="/dev_menu"><button class="btn btn-default">Dev menu</button></a>    
    <br><br>
    <table style="width:100%; border: 1px solid black">
    <tr><th>Id</th><th>Title</th><th>Header</th><th>Category</th><th></th><th></th>
    {% for post in posts %}
    <tr>
    <td>{{ post.id }}</td> <td>{{ post.title }}</td> <td>{{ post.header[:50] }}</td><td>{{ post.category }}</td>
    <td><a href="/edit_post/?id={{ post.id }}"><button class="btn btn-default" value="Edit">Edit</button></a></td>
    <td><a href="/delete_post?id={{ post.id }}"><button class="btn btn-default" value="Delete">Delete</button></a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}